td.details-control {
    text-align: center;
    color: forestgreen;
    cursor: pointer;
}

tr.shown td.details-control {
    text-align: center;
    color: red;
}

u {
    border-bottom: 1px dotted #000;
    text-decoration: none;
}